

                 SCons - a software construction tool

                            Change Log

NOTE: The 4.0.0 Release of SCons dropped Python 2.7 Support
NOTE: 4.3.0 now requires Python 3.6.0 and above. Python 3.5.x is no longer supported

RELEASE {{ this_release }} -  Sun, 19 Nov 2023 17:22:20 -0700

{% for user in all_ordered_prs %}
  From {{ user }}:
{% for pr in all_ordered_prs[user] %}
{% if pr.notes %} - {{ pr.notes }} {% endif %}
  {% for item in pr.items %}
 - {{ item.description }} {% if item.issue %} (Fixes issue #{{ item.issue }}){% endif %}
  {% endfor %}
  {% endfor %}


{% endfor %}

  From Max Bachmann:
    - Add missing directories to searched paths for mingw installs

  From Joseph Brill:
    - Fix issue #4312: the cached installed msvc list had an indirect dependency
      on the target architecture in the environment dictionary.  The first call
      to construct the installed msvc list now forces the target architecture to be
      undefined, constructs the installed msvc list, and then restores the original
      target architecture.
      Note: an indirect dependency on the VSWHERE construction variable in the
      environment remains.
